html {
  box-sizing: border-box;
}
.navbar-light {
  background: linear-gradient(-45deg, #23d5ab, #23a6d5);
  height: 80px;
}
.navbar-brand {
  font-family: "Yeseva One";
  font-size: 30px;
  color: white !important;
}
.nav-link {
  font-family: Roboto;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  display: flex;
}
nav {
  box-shadow: 0 -0.5rem 0.5rem 0.25rem;
}

.container {
  font-family: Roboto;
  margin-top: 30px;
  height: auto;
  width: 90%;
  max-width: 1000px;
  background-color: rgba(201, 194, 194, 0.281);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 3px 1px 0.05px #118ab2;
}
.logout-btn {
  border: none;
  background: none;
  font-family: "Roboto";
  font-weight: bold;
  position: relative;
  top: 18px;
  transition: border 200ms ease-in-out;
  padding-bottom: 9px;
}
.logout-btn:hover {
  border-bottom: 2px solid #299bc2;
}
.material-icons {
  position: relative;
  top: 10px;
  color: #299bc2;
  font-size: 30px;
  margin-right: 5px;
}
#QR-icon:hover {
  color: white;
}
a#account-btn {
  transition: border 200ms ease-in-out;
}
a#account-btn:hover {
  border-bottom: 2px solid #299bc2;
}
.btn {
  border: none;
  color: #118ab2;
  border-radius: none;
  padding-bottom: 6px;
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #23a6d5;
}

#timer {
  text-align: center;
}
div.time-stamp {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
div#check-out {
  border-left: 1px solid rgb(126, 118, 118);
  padding-left: 5px;
}
div#check-in,
div#check-out,
h5 {
  text-align: left;
  display: inline;
  width: 50%;
  font-size: small;
}
h1 {
  font-size: 50px;
}
h2 {
  margin-top: 20px;
}
.time-left {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
  background-color: white;
  border-radius: 10px;
}
#location-icon {
  position: relative;
  top: 3px;
}
